* {box-sizing: border-box}
.app-wrapper{
    margin: 0 auto;
    max-width: 1200px;
}
a{text-decoration:none}
.app-wrapper-content{
    background: #fff;
    width:80%;
    display: inline-block;
    min-height:50vh;
    padding:20px;
}
img.avatar{
    width:30px;height:30px;object-fit:contain;border-radius:50%;background:#fff;margin-right:10px;
}
.sidebar{
    /*grid-area:n;*/
    background: #f5f5f5;
    padding:20px;
    width:20%;
    display:inline-block;
    float:left;
    min-height:50vh;
}

@media (max-width:767px) {
    .sidebar{
        width: 100%;
        left: -100%;
        top: 90px;
        height: calc(100vh - 90px);
        position: fixed;
        background: #f5f5f5;
        overflow: auto;
    }
}

